<h2>Ingressos disponíveis</h2>

<ul>
  @for (ticket of catalogo(); track ticket.id) {
    <li class="p-4 rounded-xl shadow-mb mb-4" [class]="{ 'ingresso-destaque': ticket.tipo === 'VIP' }">
      <app-card [title]="ticket.nome">

        <p>{{ ticket.tipo }}</p>
        <p>{{ ticket.descricao | resumo:40 }}</p>

        <button (click)="adicionar(ticket)">
          Adicionar ao carrinho
        </button>

        <div class="barra-container">
          <div
            class="barra"
            [style.width.%]="ticket.lotePercentual"
            [style.background-color]="ticket.lotePercentual < 20 ? 'red' : 'green'"
          ></div>
        </div>

      </app-card>
    </li>
  }
</ul>

<app-card title="Carrinho">

  @if (carrinho().length === 0) {
    <p>Seu carrinho está vazio</p>
  } @else {

    @for (item of carrinho(); track item.id) {

      <app-card [title]="item.nome">

        <p><strong>Tipo:</strong> {{ item.tipo }}</p>

        @switch (item.tipo) {
          @case ('VIP') {
            <p>Acesso Total</p>
          }
          @case ('MEIA') {
            <p>Obrigatório carteirinha</p>
          }
          @default {
            <p>Acesso Padrão</p>
          }
        }

        <p><strong>Data:</strong> {{ item.data | date:'dd/MM/yyyy' }}</p>

        <p><strong>Preço:</strong> {{ item.preco | currency:'BRL' }}</p>

        <p><strong>Qtd:</strong> {{ item.quantidade }}</p>

        <p><strong>Descrição:</strong> {{ item.descricao | resumo:40 }}</p>

      </app-card>

    }

  }

</app-card>

@if (totalQuantidade() > 2) {
  <p>🎁 Você ganhou um brinde!</p>
}