/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

.ingresso-destaque {
  @apply border-2 border-yellow-400 bg-yellow-50;
}

.barra-container {
  width: 100%;
  height: 10px;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
}

.barra {
  height: 100%;
  transition: width 0.3s ease;
}